@import url('https://fonts.googleapis.com/css?family=Numans');

:root {
    --MainFont : 'Lato' !important;
    --color : #66FF00;
}

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* font-family: 'Numans', sans-serif !important; */
    font-family: var(--MainFont);
    color: var(--color);
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    /* color: #FFC312; */
    color: var(--color);
    transition: color 0.5s ease;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    /* background-color: #FFC312; */
    background-color: var(--color);
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    /* background-color: #FFC312; */
    background-color: #66FF00;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
    color: var(--color);
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.8);
    animation: autopopup 1s;
}

@keyframes autopopup {
    from {
        opacity: 0;
        margin-top: -200px;
    }

    to {
        opacity: 1;
    }
}

.md-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    border-radius: 5px;
    color: white;
    transform: translateX(-50%) translateY(-50%);
    transition: all 1s;
    border-radius: 10px;
    border: none;
}

.md-content h3 {
    width: 100%;
    background-color: #1d1818;
    text-align: center;
    margin-top: 0;
    padding: 10px 0;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.content-description {
    padding: 10px;
    color: black;
    font-size: 18px;
    text-align: center;
}

.md-close {
    background-color: #1d1818;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#modal-error{
    display: none;
}