<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Parameters-->
  <add key="BaseUrl" value="http://localhost:50765/"/>
  <add key="BaseAPI" value="api"/>
  <add key="PageSize" value="10"/>
  
  <!--Proxys-->
  
  <!--Users-->
  <add key="Proxy.User.Login" value="User/Login"/>
  
  <!--MaritalStatus-->
  <add key="Proxy.MaritalStatus.Get" value="MaritalStatus"/>
  <add key="MaritalStatus.Get.Message.Error" value="Ha ocurrido un error al cargal la información de Marital Status"/>

  <!--Recaptcha-->
  <add key="Proxy.ValidateRecaptcha" value="Users/Recaptcha"/>
  <add key="reCaptchaPrivateKey" value="6LeqxMIUAAAAAMlPGKfP7b4gu3UEwdDl4IuOPwMK"/>
  
  <!--Messages-->
  <add key="User.Login.Message.Error" value="Ha ocurrido un error al intentar loguearse en la aplicación, por favor intenta mas tarde. Número de error: {0}."/>
  <add key="User.Login.Invalid" value="El usuario y/o contraseña no es válido"/>
  <add key="Recaptcha.Invalid" value="the recaptcha is invalid"/>
  <add key="Recaptcha.Empty" value="You must validated the recaptcha"/>
  <!--API Service-->
  <add key="ApiService.Message.Error" value="There was an error to trying consume a service, please verify the API service applicacion"/>
</appSettings>
