<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Parameters-->
  <add key="BaseUrl" value="http://localhost:50765/"/>
  <add key="BaseAPI" value="api"/>
  <add key="PageSize" value="10"/>
  
  <!--Proxys-->
  
  <!--Users-->
  <add key="Proxy.User.Login" value="User/Login"/>

  <!--Messages-->
  <add key="User.Login.Message.Error" value="Ha ocurrido un error al intentar loguearse en la aplicación, por favor intenta mas tarde. Número de error: {0}."/>
</appSettings>
